In [1]:
# question-1. database is an organization of storing collected data in a structured way on computer
# SQL databases are relational, and NoSQL databases are non-relational. 
# SQL databases use structured query language (SQL) and have a predefined schema. 
# NoSQL databases have dynamic schemas for unstructured data. 
# SQL databases are vertically scalable, while NoSQL databases are horizontally scalable

In [2]:
# question-2. Data Definition Language (DDL) is a subset of SQL. It is a language for describing data and its relationships in a database. You can generate DDL in a script for database objects to: Keep a snapshot of the database structure.

In [22]:
# CREATE is used to create a table in database to store data
# SQL> CREATE TABLE STUDENTS (  
#ID INT ,                            
#NAME VARCHAR (20) NOT NULL,  
#AGE INT ,                         
#ADDRESS CHAR (25),  
#PRIMARY KEY (ID)  
#);

In [23]:
# The DROP TABLE statement is used to drop an existing table in a database.
# DROP TABLE table_name;
# The TRUNCATE TABLE statement is used to delete the data inside a table, but not the table itself.
# TRUNCATE TABLE table_name;
# The ALTER TABLE statement is also used to add and drop various constraints on an existing table.
# ALTER TABLE Customers
# ADD Email varchar(255);

In [ ]:
# question 3. DML is an abbreviation of Data Manipulation Language. The DML in DBMS is responsible for performing CRUD (Create Read Update and Delete) operations on the data of the database table. 
INSERT Command –This command is used to enter the information or values into a row.
INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))

VALUES ('1', 'Nirmit', 'Gorakhpur'); 
UPDATE Command –This command is used to alter existing table records
UPDATE students

SET due_fees = 20000

WHERE stu_name = 'Mini'; 
DELETE Command – It deletes all archives from a table. This command is used to erase some or all of the previous table’s records
DELETE FROM students

WHERE stu_id = '001';

In [ ]:
# question 4
Query languages, often known as DQLs or Data Query Languages, are computer languages that are used to make various queries in information systems and databases. 
SELECT Command:The most utilized SQL statement is select. Data from a database can be retrieved or fetched using the SELECT Statement in SQL
SELECT <column-list>FROM<table-name>;

In [ ]:
# question 5
A primary key is used to ensure data in the specific column is unique.
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.

In [ ]:
# question 6
# Importing module pip install mysql-connector-python
import mysql.connector

# Creating connection object
mydb = mysql.connector.connect(
	host = "localhost",
	user = "yourusername",
	password = "your_password"
)

print(mydb)
A cursor is an object which helps to execute the query and fetch the records from the database. 
The cursor plays a very important role in executing the query.

In [ ]:
# question 7
FROM/JOIN
WHERE
GROUP BY
HAVING
SELECT
ORDER BY
LIMIT/OFFSET.